.subtext {
  color: #778899;
  font-family: Avenir Next;
  font-size: 14px;
  line-height: 18px;
}

.title {
  font-family: Avenir Next;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.text {
  font-family: Avenir Next;
  font-size: 16px;
  line-height: 20px;
}
